<h1>Admin Sign-In to Inventory App</h1>

<a href="/">Homepage</a>

<br /> <br />
<form action="/admin-sign-in" method="post">
  <p>
    <label for='email'>Email: </label>
    <input type='email' name="email" placeholder='Email' />
  </p>

  <p>
    <label for='password'>Password: </label>
    <input type='password' name='password' placeholder="Password" />
  </p>

  <input type='submit' value="Sign-In">
  </form>
