<h1> Rambutan Inventory System Admin Dashboard</h1>

<h3> Manage Products </h3>
  <a href='/admin-dashboard/new-product'>Add new product</a>
  <br>
  <a href='/admin-dashboard/products'>See all products in inventory</a>
  <br>

<br><br>
<h3> Manage Bookings </h3>
  <a href='/admin-dashboard/users'>See all users in inventory</a>
  <br>

<form action='/sign-out' method='post'>
  <input type='submit' value='Sign Out' />
</form>
