<h1> Rambutan Inventory System Admin Dashboard</h1>

<h3> Manage Products </h3>
<a href='/admin-dashboard/new-product'>Add new product</a>
<br />
<h3> Manage Users </h3>
<br />

<form action='/sign-out' method='post'>
  <input type='submit' value='Sign Out' />
  </form>
