<h1 class="fs-1">Rambutan Inventory System</h1>

<% if user_signed_in? %>
  <h2> Welcome <%= current_user.full_name %>! </h2>
  <h5> Go to <a href='/user-dashboard'>Dashboard </a> </h5>
  <form action='/sign-out' method='post'>
    <input type='submit' value='Sign Out' />
  </form>

<% else %>
  <a href='/sign-in'>Sign In</a>
  <a href='/sign-up'>Sign Up</a>
<% end %>
