<a href='/admin-dashboard' class='bi bi-arrow-left-circle-fill' style='font-size: 2rem;'> Admin Dashboard</a>
<h1> Add a new Product to the Inventory </h1>

<% if @product.errors.any? %>
<div>
  <ul>
    <% @product.errors.each do |error| %>
    <li> <%= error.full_message %> </li>
    <% end %>
  </ul>
</div>
<% end %>


<form action='/admin-dashboard/new-product' method='post'>
  <label for='title'>Product name: </label>
  <input type='text' name='title' />
  <br /><br />

  <label for='description'>Product Description: </label>
  <input type='textarea' name='description' />
  <br /><br />

  <label for='available'>Status: </label>
  <input type='hidden' name='available' value='0' />
  <input type='checkbox' value='1' name='available' />
  <br /><br />

  <label for='quantity'>Quantity: </label>
  <input type='number' value="0" name='quantity'>
  <br /><br />

  <input type="submit" value="Add Product" />
</form>
