<h4><a href='/' class='bi bi-house' style='font-size: 2rem; text-decoration: none;'> Homepage</a></h4>
<section class='vh-100'>
  <div class='contrainer py-5 h-100'>
    <div class='row d-flex align-items-center justify-content-center h-100'>
      <div class='col-md-8 col-lg-7 col-xl-6'>
        <img src='https://freeillustrations.xyz/wp-content/uploads/2021/03/vector-portal.png' class='img-fluid' alt='Phone image'>
      </div>
      <div class='col-md-7 col-lg-5 col-xl-5 off-xl-1'>
        <br> <br>

        <h1>Sign In to RCA Inventory App</h1>
        <form action="/sign-in" method="post">
          <div class='form-outline mb-4'>
            <label for='email' class='form-label'></label>
            <input type='email' class='form-control form-control-lg' name="email" placeholder='Email' />
          </div>

          <div class='form-outline mb-4'>
            <label for='password'></label>
            <input type='password' class='form-control form-control-lg' name='password' placeholder="Password" />
          </div>

          <input type='submit' class='btn btn-primary btn-lg btn-block' value="Sign-In">
          <br><br> <p> or <a href="/sign-up">Sign Up</a> if you do not have an account yet.</p>
        </form>
      </div>
    </div>
  </div>
</section>
