<h1>Sign-Up to Inventory App</h1>
<br />
<a href="/">Homepage</a>
<br />
<br />

<% if @user.errors.any? %>
  <div>
    <ul>
      <% @user.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/sign-up" method="post">
  <p>
    <label for="full_name">Name: </label>
      <input type="text" name="full_name" />
  </p>

  <p>
    <label for="email">Email: </label>
      <input type="text" name="email" />
  </p>

  <p>
    <label for="password">Password: </label>
      <input type="password" name="password"/>
  </p>

  <p>
    <label for="password">Password Confirmation: </label>
      <input type="password" name="password_confirmation" />
  </p>

  <input type="submit" value="Sign-Up" />
  <a href="/sign-in">Sign In</a>
</form>
