<h1>Welcome to your profile, <%=current_user.full_name%> </h1>

</p> Go back to <a href='/'> Home </a> </p>
<a href='/products'>Book a product from the inventory</a>

<form action='/sign-out' method='post'>
  <input type='submit' value='Sign Out' />
  </form>
